@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header {
    margin: 10px;
    padding: 10px;
}

.title {
    margin: 20px;
    padding: 10px;
}

body {
    font-family: 'Shadows Into Light', cursive;
}

#tab {
    margin: 20px;
    padding: 10px;
}
#tab input[type=submit]{
        margin: 10px;
        padding: 10px;
        font-size: 1.2em;
        font-weight: bold;
        font-family: 'Shadows Into Light', cursive;
        align-content: center;

}