/*
기본 파란색 : #64c2eb
진한 파란색 : #30b0e7
기본 회색 : #757575
진한 회색 : #424242
바탕 아주 옅은 회색 : #f5f5f5
강조 컬러 빨강 : #ee7f7b
강조 컬러 노랑 : #ffd74e
*/

/*한글*/
/*font-family: 'Nanum Gothic', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/*영문*/
@font-face {
    font-family: 'Bebas Neue Book';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas Neue Book'), url('BebasNeue Book.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    color: #757575;
    font-family: 'Nanum Gothic', sans-serif;
}

a{
    text-decoration: none;
    color: #757575;
}

a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    color: #757575;
}

button:link, button:visited, button:active, button:hover, button:focus{
    border: none;
    outline:none;     
}

::-webkit-scrollbar {
    display: none;
}


body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #64c2eb;
    height: 90px;
    float: left;
    width: 100%;
    position: absolute;
    top : 0px;

}

footer {
    background-color: #ffffff;
    height: 60px;
    clear:both;
    width: 100%;
     position: fixed;

 bottom: 0;

 left: 0;
    
}



.logoimage {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #64c2eb;
}

.content{
    margin-top: 100px;
    height: max;
}

.footer_menu_table{
    text-align: center;    
    margin: 5px auto;
    background-color: #ffffff;
    font-weight: bold;
    
}
.footer_menu_table tr td{
    width: 70px;
    padding : 0 10px ;
    background-color: #ffffff;font-size : 10px;
}

.menuicons{
    background-color: #ffffff;
}

.regFormButton {
    background-image: url(http://localhost:8080/closet/image/icon/write.png);
    width: 50px;
    height: 50px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    border: 0px;
    background-color: #64c2eb;
    position: fixed;
    bottom: 80px;
    right: 15px;
}

#codipart {
	max-width: 500px; 
	height: 650px;
	margin: 20px auto;
	padding: 20px auto;

}

#codiView {
	height: 35%;
	margin: 20px auto;
	padding: 20px auto;
}


#codi {
	margin: 20px auto;
	padding: 20px auto;
}

#codibg {
    height:55%;
   	width: 500px;
	position: absolute;
	border: 1px solid #ddd;
}


#codiback {
	width: 20px;
	height: 20px;
}

#codisave {
	width: 30px;
	height: 30px;
}

#codireset {
	width: 22px;
	height: 27px;
}

#codicon {
	display: none;
}

#closetReg {
	position : absolute;
	top : 100;
	width: 300px;
	height: 40%;
	margin: 20px auto;
	padding: 20px auto;
}

#savebtn {
	display:block;
	bottom-right: 30px;
	width: 30px;
	height: 30px;
}

#codilist {
	width: 25px;
	height: 25px;
}



